<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="ChatLoggedInText" value="Acaba de conectarse!"/>
    <add key="PesoMaximoDocumentos" value="512000"/>
    <add key="MaxUploadMessage" value="500 KB"/>
    <add key="RutaFisicaDocumentos" value="D:\Paso\Respaldo\JARRIAGADA\SW\YouCom_new\YouCom\Fuentes\WebSite\YouCom\archivos"/>
    <add key="RutaVirtualDocumentos" value="\archivos"/>
    <add key="TokenPwd" value=",ew,c34kkmgpqggj40¿h2ae"/>
    <!--trabajo-->
    <add key="YouCom" value="A3ampJfwehoUP6mRkp9QozkUlX/VCWFWye0AKDHPK5q5RAQ9VzYjPuDgBI9rDNzyNKWU1FP5v1Ssyaaiy8MxNfzWCS9K7T95820xY7NC3SYLLHn3YZZy4msZWEXmP5DbXEhChs6VhD7+9JgTQgo5gckou4GB4BlEc1DUMccUc3W9ozsE2btySZtPkkL2XByqEC/zqMDEcyRXdpxI6rATvXwD0xwAYjlNzOVl4dIUmEs="/>
    <!--casa
    <add key="YouCom" value="A3ampJfwehoUP6mRkp9Qo5MW+f34pOVZz1tY7FD23EBkhJ8PJAC1hPln2dfkSn3uTY6yfOIwuBIEA6SNKWxbSIlh+JtC+WuOknn3J8oE+TRWNdzKg+hlRaPdZQ9UeLV4qz6SI+ZDFX8DHCkEpGVKSLnnwQvsXLJOlvTxkPWf7GfFsOFrafUb/ROoh4pNrtHEshUFd+fyxnxSy5I9G3QUmzAvAfDizQoZIuAsUFSR8XM6YdAX2Wv/ZZpTvc/JKLmP"/>-->
    <add key="UploadsPathNoticiaPub" value="~/App_Uploads/Noticia/"/>
    <add key="UploadsPathBannerPub" value="~/App_Uploads/Banner/"/>
    <add key="UploadsPathEventoPub" value="~/App_Uploads/Evento/"/>
    <add key="UploadsPathArchivoPub" value="~/App_Uploads/Archivo/"/>
    <add key="UploadsPathComercioPub" value="~/App_Uploads/Comercio/"/>
    <add key="UploadsPathGastoComunPub" value="~/App_Uploads/GastoComun/"/>
    <add key="UploadsPathMensajePub" value="~/App_Uploads/Mensaje/"/>
    <add key="UploadsPathAvisosPub" value="~/App_Uploads/Aviso/"/>
    <add key="MAILTOCONTACTO" value="jarriagada@bancointernacional.cl;CONTACTO"/>
    <add key="MAILFROM" value="jarriagada@bancointernacional.cl;CONTACTO"/>
    <add key="SMTP" value="mail.isomin.cl;25;contacto@isomin.cl;contacto"/>
  </appSettings>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="server=TBINTERMB;Trusted_Connection=false;database=YouCom;Password=pass_youcom;User ID=user_youcom"/>
    <add name="LinqChatConnectionString" connectionString="Data Source=TBINTERMB;Initial Catalog=ChatYouCom;User ID=user_youcom;Password=pass_youcom" providerName="System.Data.SqlClient"/>
    
    <!--<add name="LocalSqlServer" connectionString="server=CASA\MSSQLSERVER2012;Trusted_Connection=false;database=YouCom;Password=pass_youcom;User ID=user_youcom"/>-->
    <!--<add name="LinqChatConnectionString" connectionString="Data Source=CASA\MS_SQLSERVER;Initial Catalog=YouComChat;User ID=user_youcom;Password=pass_youcom" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms name="BI.NET" loginUrl="~/index.aspx" defaultUrl="~/Private/Inicio.aspx" cookieless="UseDeviceProfile" protection="All" requireSSL="false" slidingExpiration="true" enableCrossAppRedirects="false" timeout="10" path="/">
        <credentials passwordFormat="SHA1">
        </credentials>
      </forms>
      <passport redirectUrl="internal" />
    </authentication>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <authorization>
      <allow users="*" />
      <!--<deny users="?"/>-->
    </authorization>
    <machineKey validationKey="AutoGenerate,IsolateApps" decryptionKey="AutoGenerate,IsolateApps" validation="SHA1" decryption="Auto" />
    <globalization culture="es-ES"/>
    <httpRuntime executionTimeout="120" maxRequestLength="102400"/>
    <pages validateRequest="false" enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>