
body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    font-family: 'Open Sans', sans-serif;
}
.left { float: left; }
.right { float: right; }
.center { text-align: center; }
.celeste { background: #239FDB; color: #fff; }
.celeste:hover { background: #16678D; }
.gris { background: #4C4C4C; }
.gris:hover { background: #272727; }
.naranjo { background: #F8602E; }
.naranjo:hover { background: #E43F07; }
.btn-info { padding: 8px 30px; font-size: 15px; }
.btn-info-cajas { padding: 5px 18px; font-size: 15px; }
.btn-pagar { padding: 8px 10px; font-size: 20px; }
.both { clear: both; }
.no-padding-left { padding-left: 0px; }
.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}
.inicio { padding-top: 110px; }
.navbar-fixed-top { border-color: #CDCDCD; }
.container-data { background: #239FDB; }
.container-data .container .nav i { font-size: 20px; }
.container-data .container .nav > li  { color: #fff; display: inline-block; }
.container-data .container .nav > li > a { background: #239FDB; color: #fff; }
.container-data .container .nav > li > a:hover { background: #fff; color: #239FDB; }

.container-data .container .navbar-top-links { padding-bottom: 0px; padding-top: 0px; }
.container-menu { background: #4c4c4c; }
.container-menu .container .nav > li > a { color: #fff; }
.container-menu .container .nav > li > a.active { background: #239FDB; color: #fff; }
.container-menu .container .nav > li > a:hover { background: #239FDB; color: #fff; }
.container-menu .container .navbar-nav > li > a { padding-top: 5px; padding-bottom: 5px; background: #4c4c4c;}

.container-accesos { width: 100%; height: auto;  background: #F4F4F4;  }
.container-accesos .accesos { padding: 16px 70px 0px 70px; text-align: center; }
.container-accesos .accesos .btn { width: 100%; }
.container-accesos .accesos .btn-publicar {position: relative; padding: 3px 5px 5px 0px;}
.container-accesos .btn-publicar .publicar {border: none; padding: 10px 60px;}
.container-accesos .accesos .btn-publicar:before { content: '\f040'; position: absolute; right: 18px; top: -6px; font-family: fontAwesome; font-size: 30px; color: #fff;}

.container-accesos .accesos .btn-mensajes {position: relative; padding: 3px 5px 5px 0px;}
.container-accesos .accesos .btn-mensajes .mensajes {border: none; padding: 10px 60px;}
.container-accesos .accesos .btn-mensajes:before { content: '\f0e6'; position: absolute; right: 18px; top: -6px; font-family: fontAwesome; font-size: 30px; color: #fff;}

.container-accesos .accesos .btn-filtro {position: relative; padding: 3px 5px 5px 0px;}
.container-accesos .accesos .btn-filtro .filtro {border: none; padding: 10px 60px;}
.container-accesos .accesos .btn-filtro:before { content: '\f0dd'; position: absolute; right: 18px; top: -2px; font-family: fontAwesome; font-size: 20px; color: #fff;}
.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary { background: #272727!important;  }
.dropdown-menu {width: 95%; font-size: 12px;}
.dropdown-menu .dropdown-item { font-size: 13px; }
.dropdown-menu > li > a:hover { background: #239fdb; color: #fff;}
.navbar-nav:not(.sm-collapsible) ul a.has-submenu:hover { background: #239fdb; }

.container-accesos .accesos .btn-buscar {position: relative; padding: 3px 5px 5px 0px;}
.container-accesos .accesos .btn-buscar .buscar {border: none; padding: 10px 60px;}
.container-accesos .accesos .btn-buscar:before { content: '\f002'; position: absolute; right: 18px; top: -8px; font-family: fontAwesome; font-size: 30px; color: #fff;}

.breadcum { padding: 20px 0px; }
.caption { background: #4C4C4C; font-size: 14px; font-weight: 600; color: #fff; padding: 13px 10px; margin-bottom: 10px; }
p.detalle-publicacion { font-size: 13px; }

.well { height: auto; overflow: auto; }
.well .tit-info { font-weight: 600; font-size: 16px; color: #4C4C4C; padding: 0px; margin:0px 0px 8px 0px;}
.well .valor {font-weight: 600; font-size: 28px; color: #229FDA; padding: 0px; margin: 0px; width: 50%; float: left;}
.well .vencimiento { font-weight: 400; font-size: 13px; color: #4C4C4C; padding: 0px; margin: 0px; clear: both;}

.datos-ingresos { display: table-cell; font-size: 13px; }
.datos-ingresos table tr {  }
.datos-ingresos table td { padding: 10px 10px 2px 0px; border-bottom: 1px solid #B4B4B4; }
.datos-ingresos table td.fecha { text-align: right; }

.paneles { margin-top: 80px;}
.paneles .panel-info { height: auto; overflow: auto; }
.paneles .panel-heading { padding: 0px 0px 2px 20px; margin-bottom: 16px; }
.panel-info > .panel-heading { background-color: #F0F0E1; border: none; }
.paneles .tit-paneles { color: #354347; }
.paneles .panel-default { border: none; box-shadow:none;  }
.paneles .text-muted { font-size: 15px; }
.paneles .alertas:before { content: '\f071'; position: relative; color: #239FDB; right: 5px; top: 3px; font-family: fontAwesome; font-size: 24px;}
.paneles .mensajes-panel:before { content: '\f0e5'; position: relative; color: #239FDB; right: 5px; top: 3px; font-family: fontAwesome; font-size: 24px;}

.paneles .imagen-cajas { padding-right: 15px; }
.paneles .tit-cajas { font-size: 16px; font-weight: 800; padding: 0px 0px 4px 0px; margin: 0px; }
.paneles .tit-usuario { font-size: 12px; padding: 0px 0px 4px 0px; margin: 0px; }
.paneles .sociales {}
.paneles .sociales ul { padding: 0px; margin: 0px; }
.paneles .sociales li { list-style: none; float: left; padding: 0px 20px 0px 0px; }
.paneles .sociales li a { text-decoration: none; }
.paneles .thumb-up:before { content: '\f164'; position: relative; color: #354347; right: 5px; top: 3px; font-family: fontAwesome; font-size: 24px;}
.paneles .thumb-down:before { content: '\f165'; position: relative; color: #354347; right: 5px; top: 3px; font-family: fontAwesome; font-size: 24px;}
.paneles .contacto:before { content: '\f0e0'; position: relative; color: #354347; right: 5px; top: 3px; font-family: fontAwesome; font-size: 24px;}
.paneles .cargar-mas { font-size: 16px; color: #354347; font-weight: 800; padding:20px 0px; text-align: center; }
.paneles .cargar-mas a:link, .paneles .cargar-mas a:visited { color: #354347; text-decoration: none; }
.paneles .cargar-mas a:hover, .paneles .cargar-mas a:active { color: #354347; text-decoration: underline; }

.ofertas-micom-mercado { padding: 10px 0px; border-bottom: 1px solid #B4B4B4; }
.ofertas-micom-mercado .tit-mercado-pago { font-size: 13px; font-weight: 600; color: #4C4C4C; padding: 0px 0px 2px 0px; margin: 0px; }
.ofertas-micom-mercado .tit-mercado-pago a:link, .tit-mercado-pago a:visited {color: #4C4C4C; text-decoration: none;}
.ofertas-micom-mercado .tit-mercado-pago a:hover, .tit-mercado-pago a:active {color: #4C4C4C; text-decoration: underline;}
.ofertas-micom-mercado .valor-mercado { font-size: 15px; font-weight: 800; color: #229fda; padding: 0px; margin: 0px; }

/*Internas*/
.mercado .btn-filtro, .status .btn-filtro, .servicios .btn-filtro  {position: relative; padding: 3px 5px 5px 0px;}
.mercado .filtro, .status .filtro, .servicios .filtro {border: none; padding: 10px 60px;}
.mercado .btn-filtro:before, .status .btn-filtro:before, .servicios .btn-filtro:before { content: '\f0dd'; position: absolute; right: 18px; top: -2px; font-family: fontAwesome; font-size: 20px; color: #fff;}
.mercado .espacio_mercado, .status .espacio_status, .servicios .espacio_status  { padding: 10px 0px; }
.tit-publicacion { font-size: 15px; font-weight: 600; color: #4C4C4C; padding: 10px 0px 5px 0px; margin:0px; }
.direccion, .tags { padding:5px 0px 15px 0px; margin:0px;  }
.direccion p, .tags p {font-weight: 700; padding:0px; margin:0px;}
.borde { border-bottom: 1px solid #BBBBBB; height: 5px; clear: both; font:1px arial; padding-top: 20px; margin-bottom: 10px;  }
.espacio-mercado, .espacio-status {padding: 20px 0px; clear: both; }
.clasificacion {}
.clasificacion input { position:absolute; top: -2em; clip:rect(0,0,0,0); cursor: pointer;}
.clasificacion .score { unicode-bidi: bidi-override; direction: rtl; text-align: left; border: 0; font-size: 0;}
.clasificacion .score legend { overflow: hidden; height: 0;}
.clasificacion .score label { font-size: 32px; font-size: 2rem; line-height: 32px; line-height: 2rem; display: inline-block; position: relative; text-align: center; width: 1.2em; height: 1em; overflow: hidden; text-indent: 100%;}
.clasificacion .score label:before { content: "☆"; position: absolute; top: 0; left: 0; right: 0; bottom: 0; text-indent: 0; line-height: 1em; color: #aaa; cursor: pointer;}
.clasificacion .score label:hover:before,
.clasificacion .score label:hover ~ label:before,
.clasificacion .score input:checked ~ label:before { content: "★"; color: #ffbb04;}
.clasificacion .score label:active { position: relative; top: 1px;}
.form-votar { width: 100%; height: auto; padding: 0px; margin-top: 15px; }
.votar { width: 20%; float: left; margin-right: 10px; }

/*Carrusel*/
.carousel { margin-bottom: 20px; }
.carousel-indicators { bottom: 60px; }
.carousel-caption {background: #4C4C4C; font-size: 14px; font-weight: 600; color: #fff; padding: 13px 10px; margin-bottom: 0px; position: relative; bottom: 0px; left: 0px; text-align: left;}
.carousel-caption p { padding-top: 5px; padding-bottom: 0px; }
.carousel-control.left, .carousel-control.right { background-image: none; }
.carousel .fa-3 { font-size: 50px!important; }
.carousel-control { top: 35%; }

/*Avisos*/
h1 {font-size: 28px; font-weight: 600; color: #229FDA; padding-top: 0px; margin-top: 0px;}
.volver {width:15%; background-color: #239FDB; padding:1px 12px; margin-right:15px; margin-bottom: 10px; font-size: 14px; float: right; }
.volver:hover { background-color: #1A75A2; }
.icono-aviso { font-size: 20px!important; }
.comentarios { font-size: 16px; font-weight: 600; color:#4C4C4C; padding: 20px 0px; margin:0px; }
.espacio-comentarios { padding: 20px 0px; }
.tit-usuario-aviso { font-size: 13px; font-weight: 600; color: #4C4C4C; padding: 0px; margin:0px; }
.detalle-aviso { font-size: 13px; color: #4C4C4C; }
.mensaje-muro { height: auto; overflow: auto; border-bottom: 1px solid #828282; padding: 10px 0px; }
.icono {position: relative; top: -50px; z-index: 999; margin: 0px; padding: 0px;}
.icono-play { color: #fff; opacity: 0.8; padding-left: 50px; padding-right: 36px; cursor: pointer; }
.videos { padding-top: 20px; padding-bottom: 0px; }
.videos-cont { float: left; padding: 0px 10px 0px 0px; margin:0px; }
.contenedor-video { position: relative; z-index: 99; height: 70px;}
.contenedor-video:hover img {opacity: 0.5;}

/*Modal*/
.modal-dialog { width: 70%; }
.modal-title { font-size: 16px; font-weight: 700; color: #4C4C4C; margin-top: 10px; }
.no-leido { background-color: #D90000; padding:1px 12px; font-size: 13px; margin-top: 12px; }
.no-leido:hover { background-color: #A80000; }
.eliminar { width:25%; background-color: #D90000; padding:1px 12px; margin-right:15px; margin-bottom: 10px; font-size: 13px; float: right; }
.eliminar:hover { background-color: #A80000; }
.agregar-comentario {width:40%; background-color: #239FDB; padding:1px 12px; font-size: 13px; float: right; margin-bottom: 10px;}
.agregar-comentario:hover { background-color: #1A75A2; } 
.mensaje { height: auto; overflow: auto; border-bottom: 1px solid #828282; }
.mensaje .nombre-usuario { font-size: 13px; font-weight: 600; color: #4C4C4C; float: left; padding-right: 10px; margin-top: 6px;}
.mensaje p { font-size: 13px; font-weight: 400; color: #4C4C4C; padding:5px 10px; margin: 0px; }
.botones-modal { width: 48%; float: right; }
.escribir-comentario, .escribir-comentario2 { display: none; margin-top: 20px; }
.btn-enviar-comentario:hover { background: #16678D; color: #fff;}


/*Buscador*/
.search-full {
    bottom: 35px;
    letter-spacing: 1px;
    min-height: 50px;
    position: absolute;
    right: 0;
    text-align: right;
    white-space: nowrap;
    width: 100%;
    z-index: 10;
    display: none;
}

.searchInputBox {
    display: block;
    max-width: 90%;
    text-align: right;
    width: 100%;
}

.search-close {
    background: rgba(0, 0, 0, 0.3);
    display: table;
    float: right;
    font-size: 32px;
    height: 51px;
    padding: 0 15px;
}

.search-close i {
    display: table-cell;
    vertical-align: middle;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}

.search-close:hover i {
    transform: scale(1.15) rotate(-180deg);
    -webkit-transform: scale(1.1) rotate(-180deg);
    -moz-transform: scale(1.1) rotate(-180deg);
    -ms-transform: scale(1.1) rotate(-180deg);
    -o-transform: scale(1.1) rotate(-180deg);
    color: #fff;
}

.search-input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 0 none;
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 1.2;
    margin: 0;
    outline: medium none;
    text-align: right;
    padding: 13px 0 13px 15px;
    width: 100%;
    max-width: 90%;
}

.search-input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.search-input::-moz-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.searchInputBox .search-btn {
    border: none;
    padding: 0 10px 0 0;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    background: #0074c8;
}

.search-full.active {
    display: block;
}

.search-full, .search-input { background: #0074c8; }

footer {padding: 30px 0px; margin: 30px 0px; border-top: 1px solid #838383;}
footer ul { list-style: none; }
footer ul li { float: left; padding-right: 20px; }
footer ul li a:link, footer ul li a:visited { color: #4C4C4C; text-decoration: none; } 
footer ul li a:hover, footer ul li a:active { color: #4C4C4C; text-decoration: underline; } 

@media(min-width:768px) {
    body {
        padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}

@media(max-width:580px) {
    .container-accesos .accesos .publicar {margin-bottom: 10px;}
    .container-accesos .accesos .btn-publicar:before { font-size: 1px; }
    .container-accesos .accesos .mensajes {margin-bottom: 10px;}
    .container-accesos .accesos .btn-mensajes:before { font-size: 1px; }
    .container-accesos .accesos .btn-filtro:before { font-size: 1px; }
    .container-accesos .accesos .filtro {margin-bottom: 10px;}
    .container-accesos .accesos .btn-buscar:before { font-size: 1px; }
    .container-accesos .accesos .buscar {margin-bottom: 10px;}
    .container-accesos .accesos { padding:0px; }
}
@media (max-width: 580px) and (max-width: 990px) {
    .container-accesos .accesos .publicar {margin-bottom: 10px;}
    .container-accesos .accesos .mensajes {margin-bottom: 10px;}
    .container-accesos .accesos .filtro {margin-bottom: 10px;}
    .container-accesos .accesos .buscar {margin-bottom: 10px;}
}


@media (min-width: 320px) {
    .carousel-indicators {}
}

